<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
        <modelVersion>4.0.0</modelVersion>
        <groupId>uk.org.taverna.build</groupId>
        <artifactId>taverna-build</artifactId>
        <version>3.0.1-SNAPSHOT</version>
        <packaging>pom</packaging>
        <name>Taverna build</name>
        <description>Taverna build module</description>
        <build>
          <plugins>
            <plugin>
              <groupId>org.codehaus.mojo</groupId>
              <artifactId>license-maven-plugin</artifactId>
              <version>1.7</version>
              <executions>
                <execution>
                  <id>add-licenses</id>
                  <phase>generate-sources</phase>
                  <goals>
                    <goal>aggregate-add-third-party</goal>
                  </goals>
                  <configuration>
                    <excludedGroups>.*(mygrid|taverna).*</excludedGroups>
                    <useMissingFile>true</useMissingFile>
                    <missingFile>src/license/THIRD-PARTY.properties</missingFile>
                    <licenseMerges>
                      <licenseMerge>The Apache Software License, Version 2.0|Apache 2|Apache License|Apache License, Version 2.0|Apache Public License 2.0|Apache License Version 2.0|Apache Software License 2.0|Apache Software License - Version 2.0</licenseMerge>
                      <licenseMerge>The BSD License|BSD|BSD License|BSD-style license|BSD style|Aduna BSD license|Aduna BSD-style license</licenseMerge>
                      <licenseMerge>MIT License|The MIT License|MIT license</licenseMerge>
                      <licenseMerge>GNU Lesser General Public License|GNU LESSER GENERAL PUBLIC LICENSE|GNU Library or Lesser General Public License|LGPL</licenseMerge>
                      <licenseMerge>Common Development and Distribution License (CDDL) v1.0|CDDL 1.1|COMMON DEVELOPMENT AND DISTRIBUTION LICENSE (CDDL) Version 1.0</licenseMerge>
                      <licenseMerge>Eclipse Public License, Version 1.0|Eclipse Public License</licenseMerge>
                    </licenseMerges>
                  </configuration>
                </execution>
              </executions>
            </plugin>
          </plugins>
        </build>

  <repositories>
    <repository>
      <releases />
      <snapshots />
      <id>mygrid-proxy</id>
      <name>myGrid repository proxy</name>
      <url>http://repository.mygrid.org.uk/artifactory/repo/</url>
    </repository>
  </repositories>
  <pluginRepositories>
    <pluginRepository>
      <releases />
      <snapshots />
      <id>mygrid-proxy</id>
      <name>myGrid repository proxy</name>
      <url>http://repository.mygrid.org.uk/artifactory/repo/</url>
    </pluginRepository>
  </pluginRepositories>

        <modules>
<!-- modules inserted by update-pom.sh -->
        </modules>
</project>
