<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
        <modelVersion>4.0.0</modelVersion>
        <groupId>uk.org.taverna.build</groupId>
        <artifactId>taverna-build</artifactId>
        <version>3.0.1-SNAPSHOT</version>
        <packaging>pom</packaging>
        <name>Taverna build</name>
        <description>Taverna build module</description>
    <repositories>
        <repository>
            <releases />
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <id>mygrid-artifactory</id>
            <name>myGrid artifactory</name>
            <url>http://repository.mygrid.org.uk/artifactory/repo</url>
        </repository>
        <repository>
            <releases />
            <snapshots>
                <enabled>false</enabled>
            </snapshots>
            <id>mygrid-repository</id>
            <name>myGrid Repository</name>
            <url>http://www.mygrid.org.uk/maven/repository</url>
        </repository>
        <repository>
            <releases>
                <enabled>false</enabled>
            </releases>
            <snapshots />
            <id>mygrid-snapshot-repository</id>
            <name>myGrid Snapshot Repository</name>
            <url>http://www.mygrid.org.uk/maven/snapshot-repository</url>
        </repository>
    </repositories>
        <modules>
<!-- modules inserted by update-pom.sh -->
        </modules>
</project>
